services:
  - type: web
    name: blood-backend
    env: docker
    plan: free
    envVars:
      - key: PORT
        value: "3000"
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
      - key: JWT_ACCESS_SECRET
        sync: false
      - key: JWT_REFRESH_SECRET
        sync: false
      - key: JWT_ACCESS_EXPIRES_IN
        value: "15m"
      - key: JWT_REFRESH_EXPIRES_IN
        value: "7d"
      - key: CORS_ORIGIN
        sync: false
      - key: ENCRYPTION_SECRET
        sync: false
      - key: GMAIL_USER
        sync: false
      - key: GMAIL_PASS
        sync: false
      - key: FIREBASE_PROJECT_ID
        sync: false
      - key: FIREBASE_PRIVATE_KEY_ID
        sync: false
      - key: FIREBASE_PRIVATE_KEY
        sync: false
      - key: FIREBASE_CLIENT_EMAIL
        sync: false
      - key: FIREBASE_CLIENT_ID
        sync: false
      - key: FIREBASE_CLIENT_X509_CERT_URL
        sync: false

      - key: FIREBASE_CLIENT_X509_CERT_URL
        sync: false

  - type: web
    name: blood-auth
    env: docker
    plan: free
    rootDir: blood-system/auth-service
    envVars:
      - key: PORT
        value: "3001"
      - key: MONGODB_URI
        fromService:
          type: web
          name: blood-backend
          envVarKey: MONGO_URI
      - key: JWT_SECRET
        fromService:
          type: web
          name: blood-backend
          envVarKey: JWT_ACCESS_SECRET

  - type: web
    name: blood-donor
    env: docker
    plan: free
    rootDir: blood-system/donor-service
    envVars:
      - key: PORT
        value: "3002"
      - key: MONGODB_URI
        fromService:
            type: web
            name: blood-backend
            envVarKey: MONGO_URI

  - type: web
    name: blood-frontend
    env: docker
    plan: free
    rootDir: frontend
    envVars:
      - key: PORT
        value: "80"
